---
const { backgroundImage = DEFAULT_POST_IMAGE } = Astro.props;

import { DEFAULT_POST_IMAGE } from "@/consts";
import { Image } from "astro:assets";
import config from "shblog.config";
---

<!-- Hero Section -->
<section
  class="relative h-175 px-4 py-10 overflow-hidden"
  transition:name="hero"
>
  <!-- Hero background image -->
  <div class="absolute inset-0 pointer-events-none">
    <Image
      src={backgroundImage || config.style.heroImage.src}
      inferSize={true}
      alt=""
      class=`w-full h-full object-cover bg-fixed mask-b-from-${config.style.heroImage.from}% mask-b-to-${config.style.heroImage.to}%`
      width={1920}
      height={700}
    />
    <div
      class=`absolute inset-0 bg-linear-to-b from-black/${config.style.heroImage.from} to-black/${config.style.heroImage.to}`
    >
    </div>
  </div>

  <!-- Hero content -->
  <div class="relative h-full flex items-end justify-center">
    <div class="w-full md:w-[80vw] md:min-w-3xl md:max-w-7xl">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
        <slot name="left">
          <!-- Left: Main heading -->
        </slot>
        <slot name="right">
          <!-- Right: Featured article card -->
        </slot>
      </div>
    </div>
  </div>
</section>
